<template>
  <div class="jumbotron">
    <h2>Welcome to Rumbl.io!</h2>
    <p class="lead">Rumble out loud.</p>
  </div>
</template>

<script>
  export default{

  }
</script>

<style lang="scss"></style>
